.homeWrapper {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
}

.searchBar {
  padding: 30px 0;
}

.searchBarContainer {
  width: 90%;
  max-width: 850px;
  margin: auto;
  background-color: #fff;
  color: #000;
  border-radius: 50px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  padding: 18px 24px;
}

.inputContainer:hover {
  background-color: #f3f3f3;
  border-radius: 50px;
}

.inputContainer:hover + inputDivider {
  display: none;
}

.inputDivider {
  border-right: 1px solid #ddd;
  height: 32px;
}

.searchBar .inputContainer label {
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 2px;
}

.inputContainer input {
  border: none;
  background-color: transparent;
}

.searchBarContainer button {
  background-color: #ff3860;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 19px 15px !important;
  cursor: pointer;
}

.searchBarContainer button:hover {
  background-color: #bd1e59;
}

.homeHeroWrapper {
  width: 85%;
  margin: auto;
  position: relative;
}

.homeHeroWrapper img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.homeHeroContent {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.homeHeroContent h1 {
  font-size: 38px;
  font-weight: 600;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.homeHeroContent a {
  background-color: #fff;
  padding: 16px 32px;
  border: 1px solid #000;
  border-radius: 50px;

  text-decoration: none;
  font-weight: 600;
}

.homeHeroContent a span {
  -webkit-text-fill-color: transparent !important;
  background: linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%) !important;
  -webkit-background-clip: text !important;
}
